@keyframes right {
 0% {
  transform: scale(4.5) translate(-80px);
 }

 25% {
  transform: translate(0px);
 }

 50% {
  transform: scale(4.5) translate(80px);
 }

 75% {
  transform: translate(0px);
 }

 100% {
  transform: scale(4.5) translate(-80px);
 }
}

@keyframes left {
 0% {
  transform: scale(4.5) translate(80px);
 }

 25% {
  transform: translate(0px);
 }

 50% {
  transform: scale(4.5) translate(-80px);
 }

 75% {
  transform: translate(0px);
 }

 100% {
  transform: scale(4.5) translate(80px);
 }
}

.animations {
 display: none;
}

.ball {
 width: 15px;
 height: 15px;
 margin: 40px auto;
 border-radius: 100px;
}

.ball:nth-child(1) {
 background-color: #ff0000;
 animation: right 5s infinite ease-in-out;
}

.ball:nth-child(2) {
 background-color: #ffa000;
 animation: left 5.1s infinite ease-in-out;
}

.ball:nth-child(3) {
 background-color: #ffe700;
 animation: right 5.05s infinite ease-in-out;
}

.ball:nth-child(4) {
 background-color: #00ff03;
 animation: left 5.15s infinite ease-in-out;
}

.ball:nth-child(5) {
 background-color: #00e0ff;
 animation: right 5.1s infinite ease-in-out;
}

.ball:nth-child(6) {
 background-color: #0047ff;
 animation: left 5.05s infinite ease-in-out;
}

.ball:nth-child(7) {
 background-color: #6900ff;
 animation: right 5s infinite ease-in-out;
}

.start-check-btn {
 width: 200px;
 height: 100px;
 background-color: green;
 border-radius: 7px;
 color: white;
 font-size: 20px;
 text-align: center;
 outline: none;
 border: none;
}

.container {
 width: 50%;
 margin: 0 auto;
 padding-top: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.situative-picture {
 opacity: 0;
 transition: all 2s;
}